<div class="container" ng-controller="MainController as main">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1>Add New Asset:</h1>

            <!--form with Angular validation checking-->

            <form class="form" ng-submit="addAsset()" name="newAssetForm" novalidate>
                Name*: <input type="text" name="name" class="form-control" ng-model="main.newAsset.name"
                              ng-click="assetCreated = false" required>
                Type*: <input type="text" name="type" class="form-control" ng-model="main.newAsset.type" required>
                Quantity*: <input type="number" name="quantity" class="form-control" ng-model="main.newAsset.quantity"
                                  required>
                <button type="submit" class="btn btn-default" ng-disabled="newAssetForm.$invalid">Add Asset</button>
                <p ng-show="assetCreated" class="success pull-right">Asset successfully created</p>
                <p ng-show="errorMessage" class="error pull-right">Error: Asset not created</p>
                <p class="validation" ng-show="newAssetForm.name.$invalid && newAssetForm.name.$touched">
                    Please enter name</p>
                <p class="validation" ng-show="newAssetForm.type.$invalid && newAssetForm.type.$touched">
                    Please enter type</p>
                <p class="validation" ng-show="newAssetForm.quantity.$invalid && newAssetForm.quantity.$touched">
                    Please enter quantity</p>
            </form>
        </div>
    </div>
</div>


 