<div class="jumbotron text-center">
    <div>
        <h1>Welcome to Asset Manager</h1>
        <h2>A simple way to manage your assets effectively</h2>
    </div>
    <div>
        <button class="btn btn-default orange-circle-button" ui-sref="view">View<br/>All Assets<br/><span
                class="orange-circle-greater-than"></span></button>
        <button class="btn btn-default orange-circle-button" ui-sref="add">Add<br/>New Asset<br/><span
                class="orange-circle-greater-than"></span></button>
    </div>
</div>