<div class="container" ng-controller="MainController">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h1>View Assets</h1>

            <label><span>Filter by name/type:</span></label>
            <input type="text" class="form-control-sm" ng-model="filterType">

            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th><a class="list" ng-click="changeSort('name')">Name</a></th>
                    <th><a class="list" ng-click="changeSort('type')">Type</a></th>
                    <th><a class="list" ng-click="changeSort('quantity')">Quantity</a></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="asset in Assets | filter: filterType | orderBy:sortType:sortReverse track by $index">
                    <th scope="row">{{$index + 1}}</th>
                    <td>
                        <p ng-hide="asset.edit">{{asset.name}}</p>
                        <input ng-model="asset.name" ng-show="asset.edit">
                    </td>
                    <td>
                        <p ng-hide="asset.edit">{{asset.type}}</p>
                        <input ng-model="asset.type" ng-show="asset.edit">
                    </td>
                    <td>
                        <p ng-hide="asset.edit">{{asset.quantity}}</p>
                        <input ng-model="asset.quantity" ng-show="asset.edit" type="number">
                    </td>
                    <td><span class="glyphicon glyphicon-remove-circle" ng-click="deleteAsset(asset.id, $index)"></span></td>
                    <td>
                        <span class="glyphicon glyphicon-pencil" ng-click="editAsset(asset)"></span>
                        <a class="list" ng-show="asset.edit" href="#" ng-click="save(asset)">Save</a>
                        <a class="list" ng-show="asset.edit" href="#" ng-click="disableEditor(asset)">cancel</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


