<div class="container" ng-controller="MainController">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">

            <h1>View Assets</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="asset in Assets track by $index">
                    <th scope="row">{{$index}}</th>
                    <td>{{asset.name}}</td>
                    <td>{{asset.type}}</td>
                    <td>{{asset.quantity}}</td>
                    <td><span class="glyphicon glyphicon-remove-circle"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


