body {
    background-color: white;
    font-size: 18px;
}

h1, h2 {
    text-align: center;
    letter-spacing: 3px;
    font-weight: 200;
    padding-bottom: 1em;
}

li {
    display: block !important;
    margin-bottom: 10px !important;
}

span, th {
    color: dimgray;
}


a {
    color: white;
    padding: 5px;
}

a:hover {
    color: #F7AA3A;
    text-decoration: none;
}


input[type=text]{
    margin: 20px;
}

.navbar-default {
    background-color: grey;
}

.logo {
    height: 50px;
    width: 50px;
}

.list {

    color: dimgrey;
}

.list:hover {

    color: orange;
    cursor: pointer;
}

.btn-default {
    margin-top: 10px;
}

.glyphicon-remove-circle {
    color: #e84d0e;
}

.glyphicon-pencil {
    color: forestgreen;
}


.glyphicon-remove-circle:hover, .glyphicon-pencil:hover {
    color: darkorange;
    cursor: pointer;
}

.glyphicon-briefcase {
    font-size: 60px;
    color: orange;
    padding: 10px;
}

.orange-circle-button {
    box-shadow: 2px 4px 0 2px rgba(0,0,0,0.1);
    border: .5em solid darkorange;
    font-size: 1em;
    line-height: 1.1em;
    color: #ffffff;
    background-color: orange;
    margin: auto;
    border-radius: 50%;
    height: 7em;
    width: 7em;
    position: relative;
}
.orange-circle-button:hover {
    color:#ffffff;
    background-color: #e84d0e;
    text-decoration: none;
    border-color: #ff7536;

}
.orange-circle-button:visited {
    color:#ffffff;
    background-color: #e84d0e;
    text-decoration: none;

}
.orange-circle-link-greater-than {
    font-size: 1em;
}



